body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(218deg, 50%, 91%);
  height: 100vh;
}

.forgot-password .logo, .reset-password .logo {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.forgot-password .logo path, .reset-password .logo path {
  fill: #1b5732;
}

.login-wrapper {
  min-width: 375px;
}
.login-wrapper .screen-1 {
  background: hsl(213deg, 85%, 97%);
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em hsl(231deg, 62%, 94%);
  gap: 2em;
}
.login-wrapper .screen-1 .logo {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.login-wrapper .screen-1 .logo path {
  fill: #1b5732;
}
.login-wrapper .screen-1 .email {
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0 0 2em hsl(231deg, 62%, 94%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: hsl(0deg, 0%, 30%);
  margin-top: -3em;
}
.login-wrapper .screen-1 .email input {
  outline: none;
  border: none;
}
.login-wrapper .screen-1 .email input::placeholder {
  color: rgb(153, 153, 153);
  font-size: 0.9em;
}
.login-wrapper .screen-1 .email ion-icon {
  color: hsl(0deg, 0%, 30%);
  margin-bottom: -0.2em;
}
.login-wrapper .screen-1 .password {
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0 0 2em hsl(231deg, 62%, 94%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: hsl(0deg, 0%, 30%);
}
.login-wrapper .screen-1 .password input {
  outline: none;
  border: none;
}
.login-wrapper .screen-1 .password input::placeholder {
  color: rgb(153, 153, 153);
  font-size: 0.9em;
}
.login-wrapper .screen-1 .password ion-icon {
  color: hsl(0deg, 0%, 30%);
  margin-bottom: -0.2em;
}
.login-wrapper .screen-1 .password .show-hide {
  margin-right: -5em;
}
.login-wrapper .screen-1 .login {
  padding: 1em;
  background: hsl(233deg, 36%, 38%);
  color: hsl(0deg, 0%, 100%);
  border: none;
  border-radius: 30px;
  font-weight: 600;
}
.login-wrapper .screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: hsl(0deg, 0%, 37%);
  gap: 14em;
  padding-bottom: 10em;
}
.login-wrapper .screen-1 .footer span {
  cursor: pointer;
}

button {
  cursor: pointer;
}
