.header-bar-wrapper .logo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-bar-wrapper .logo path {
  fill: #1b5732;
}

.user-login .container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-login .container-head p {
  margin-right: 40px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
}
.user-login .container-head .btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.user-login .container-head .btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.user-login .container-head .btn-outline-danger a {
  text-decoration: none;
}
.user-login .container-head .btn-outline-danger a:hover {
  color: #fff;
}

.container-nav {
  display: flex;
  align-items: center;
}

.main-nav-wrapper .menu {
  display: flex;
  align-items: center;
  margin: 0 !important;
}
.main-nav-wrapper li {
  list-style: none;
}
.main-nav-wrapper li .item {
  padding: 8px 16px;
  font-size: 16px;
}

.mainmenu-area .navbar-nav .dropdown-menu {
  display: none;
}
.mainmenu-area .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
.mainmenu-area .navbar-nav .dropdown-submenu {
  position: relative;
}
.mainmenu-area .navbar-nav .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.mainmenu-area .navbar-nav .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.mainmenu-area .navbar-nav .dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.mainmenu-area .navbar-nav .dropdown-submenu.pull-left {
  float: none;
}
.mainmenu-area .navbar-nav .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
