@import "_global";

.eew-wrapper{
	position: relative;
    &> .wrapper-inner{

        background-color: var(--color-white);
        padding: var(--gutter-size);
        @include border-radius(var(--radius-size));
        margin-bottom: var(--gutter-size);
        @include box-shadow(0 0 10px rgba(0,0,0,0.12));


        @media screen and (min-width: 767px){
            padding: calc(var(--gutter-size) * 2);
        }

        // headers
        h1, h2, h3, h4{
            margin: 0;
            padding: 0;
            margin-bottom: calc(var(--gutter-size) * 2);
        } // general header

        & > .el-header{
            font-size: 2.5rem;
            font-weight: bold;
        } // el header


    } //  wrapper inner

    &.ecci-wrapper > .wrapper-inner,
    &.optional-information > .wrapper-inner{
        box-shadow: none;
    }

    .controls-wrapper{
        .btn-primary  + .btn-links{margin-left: 1rem;}
        button{float: left;}
    }


    // this style to put the widget at the center of hte screen 
    // and will only show and allow interaction when display=1
    &.overlay-widget{

        position: fixed; 
        top: 0; 
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
        @include flex_display();
        align-items: center;
        justify-content: center;
        @include opacity(0);
        @include transition(opacity ease 0.3s);

        &>.wrapper-inner{
            width: 100%; 
            max-width: 900px;
        } // wrapper inner

        &[data-display='1']{
            @include opacity(100);
            pointer-events: inherit;
            z-index: 10;
        }
        .tpl-w-controls{
            margin-top: 3rem;
        }


    } // overlay widget

    &.overlay-widget-fullwidth{
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
        @include flex_display();
        align-items: center;
        justify-content: center;
        @include opacity(0);
        @include transition(opacity ease 0.3s);
        pointer-events: none;
        z-index: 100;
        &>.wrapper-inner{
            width: 100%;
            max-width: 1200px;
        }

        &[data-display="1"]{
            @include opacity(100);
            pointer-events: inherit;
            z-index: 1;
        }
    }
} // ed of widget wrapper


#enrollment-widget-delete-confirmation{
    .wrapper-inner{
        max-width:800px;
        border: 1px solid #00b79b;
        border-radius: 3px;
      -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
      box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
      padding:0px;
        .el-header{
            padding: 15px 30px;
            background-color: #00b79b;
            color: #fff;
        }
        .el-content{
            padding:30px;
        }
        .widget-content-inner{
            div{
                display: inline-block;
                line-height: 48px;
                width: 50px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                -o-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                font-size: 2em;
                border: 1px solid currentColor;
                color: #C20000;
                margin-bottom:30px;
            }
            
        }
        .widget-footer{
            margin-top:20px;
            button{
                min-width:200px;
                height:38px;
                span{
                    padding-left:10px;
                }
            }
            button:first-child{
                margin-right:10px;
            }
        }
    }
}

.ee-wrapper > .wrapper-inner #tpl-enrollment-upload-file[data-display="1"] {
    display: flex;
}
