@import "global";
$p: hsl(213deg 85% 97%);
$s: hsl(233deg 36% 38%);

@mixin screen {
	background: $p;
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
}
body {
	user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: hsl(218deg 50% 91%);
	height: 100vh;
}

.forgot-password,.reset-password{
	.logo{
		path {fill:#1b5732;}
		padding: 30px;
		display: flex;
		justify-content:center;
	}
}

.login-wrapper{
	min-width: 375px;
	.screen-1 {
		@include screen;
		gap: 2em;
		.logo{
			path {fill:#1b5732;}
			padding: 30px;
			display: flex;
			justify-content:center;
		}

		.error{
			
		}
		.email {
			background: hsl(0deg 0% 100%);
			box-shadow: 0 0 2em hsl(231deg 62% 94%);
			padding: 1em;
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			border-radius: 20px;
			color: hsl(0deg 0% 30%);
			margin-top: -3em;
			input {
				outline: none;
				border: none;
				&::placeholder {
					color: rgb(153, 153, 153);
					font-size: 0.9em;
				}
			}
			ion-icon {
				color: hsl(0deg 0% 30%);
				margin-bottom: -.2em;
			}
		}
		.password {
			background: hsl(0deg 0% 100%);
			box-shadow: 0 0 2em hsl(231deg 62% 94%);
			padding: 1em;
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			border-radius: 20px;
			color: hsl(0deg 0% 30%);
			input {
				outline: none;
				border: none;
				&::placeholder {
					color: rgb(153, 153, 153);
					font-size: 0.9em;
				}
			}
			ion-icon {
				color: hsl(0deg 0% 30%);
				margin-bottom: -.2em;
			}
			.show-hide {
				margin-right: -5em;
			}
		}
		.login {
			padding: 1em;
			background: hsl(233deg 36% 38%);
			color: hsl(0 0 100);
			border: none;
			border-radius: 30px;
			font-weight: 600;
		}
		.footer {
			display: flex;
			font-size: 0.7em;
			color: hsl(0deg 0% 37%);
			gap: 14em;
			padding-bottom: 10em;
			span { cursor: pointer }
		}
	}
}

button { cursor: pointer; }
