@import "global";

.login-otp-template{
	.header-bar-wrapper{
		display: none !important;
	}
	#page-wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.logo{
		padding-bottom: 30px;
	}
	.logo,
	.otp{
		max-width: 375px;
		margin: 0px auto;
	}
	

	.logo{
		text-align: center;
		svg path{
			fill: #1b5732;
		}
	}
}


